<div class="index-container">
	<div class="form">
    <%= form_tag courses_path, method: :get do %>
      <p>
        <%= hidden_field_tag :type, params[:type] %>
        <%= text_field_tag :query, params[:query] %>
        <%= submit_tag "Search", name: nil %>
      </p>
    <% end %>
	</div>

  <div class="search">
		<div class="title"> search results </div>
    <% if params[:query] && params[:query] != "" %>
      <% if !@courses.empty? %>
        <% @courses.each do |course| %>
          <div class="text-block">

						<div class="text" id="text-<%= course.id %>">
              <div class="name"><h1><%= raw(course.name) %></h1></div>
              <div class="staff"><%= raw(course.staff) %></div>
              <div class="catalog-number"><%= raw(course.catalog_number) %></div>
              <div class="description"><%= raw(course.description) %></div>
						</div>
            <div class="buttons">
              <%= link_to "view", course, :class => 'view' %>
              <%= button_tag 'add', :id => course.id, :class => 'add' %>
							<%= button_tag 'remove', :id => course.id, :class => 'remove' %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div> no results for search </div>
      <% end %>
    <% end %>
  </div>

  <div class="recently">
		<div class="title">recently viewed</div>
  </div>
</div>