<div class="detail">
	<h1><%= @course.name %></h1>
	<p><%= @course.catalog_number %></p>
	<p><%= @course.description %></p>
	<p><%= @course.ects %></p>
	<p><%= @course.institute %></p>
	<p><%= @course.participant_count %></p>
	<p><%= @course.programmes %></p>
	<p><%= @course.staff %></p>
</div>