<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body">

<%= link_to "My shopping list", { :controller => "courses", :action => "shopping_list" } %>
<%= link_to "Courses I'm following", { :controller => "courses", :action => "following_list" } %>
<%= yield %>

</body>
</html>